.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.25rem;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;

    @media screen and (max-width: 1530px) {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
