$base-color: #414247;
$base-muted-color: #98999b;
$base-text-color: #a4a2a7;
$active-color: #6676f5;
$link-color: #0066d4;
$error-color: #da1217;
$success-color: #1f9254;
$border-color: #b7b7ba;
$base-contrast-color: #6d6873;

$header-height: 50px;
